import("RColorBrewer")
import("ggplot2")
import("Matrix")
import("Seurat")
import("pheatmap")
import("matrixStats")
import("dplyr")
import("GSEABase")
import("GSVA")
import("made4")
import("pbmcapply")
importFrom("outliers","chisq.out.test")
exportPattern("^[[:alpha:]]+")
